
a{
margin-top:5px ;
font-size: large;
color: white;
}
h4{
margin-bottom: 20px;
}
h1{
    margin-left: auto;
    margin-top: 13px;
    color: rgb(238, 227, 227);
}
 .userArea{
     margin-left: 50%;
}